<!-- <div class="container">
    <div>
        <input type="text" placeholder="Search by name"
        style="width: 450xp; height: 50px; padding: 2px 20px; height: 30px;"
        [(ngModel)]="filterText" >
    </div>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Marks</th>
            <th>Percentage</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
        <tr class='asd' *ngFor="let std of filteredStudents">
            <td>{{std.name}}</td>
            <td>{{std.course}}</td>
            <td><input type="text" [(ngModel)]="std.marks" value="std.marks"></td>
            <td>{{std.marks | percent}}</td>
            <td>{{std.DOB | date: 'fullDate' | uppercase}}</td>
            <td>{{std.gender | lowercase}}</td>
        </tr>
    </table>
</div> -->